* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
header span img {
  height: 45px;
}
header h1, .nombre {
  font-size: x-large;
  margin-left: 25px;
  text-align: center;
  margin-right: 50px;
}
.contenido {
  width: 100%;
}

.contenido h2 {
  text-align: center;
  padding: 15px;
}
.carta
{
    text-align: center;
}

.items-carta {
display: inline-block;
  width: 300px;
  margin: 0 auto;
  padding: 5px;
  text-align: left;
  vertical-align: bottom;
}
.items-carta h4
{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}
.items-carta-1 h4
{
    padding-top: 10px;

}
.items-carta-2 h4
{
    padding-top: 20px;
}
.item-img {
  text-align: center;
}
.item-img div img {
  height: 100%;
width: auto;
border-radius: 10px 10px 0px 10px;
}
.item-img div div
{
  background-color: transparent;
  position: absolute;
}
.item-img div {
  width: 100%;
  margin: 0 auto;
  height: 250px;
  overflow: hidden;
  border-radius: 10px 10px 0px 10px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
}
.item-img
{
    position: relative;

}
.item-precio
{
    width: min-content;
    padding: 15px 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.item-detalles
{
    text-decoration: underline;
    padding: 5px 5px 5px 0px;
    width: fit-content;
    padding: 5px 5px 5px 0px;
    font-weight: bold;

}
.item-detalles:hover
{
    cursor: pointer;
}
.item-detalles:hover + .detalles
{
    display: block;
}
.detalles:hover
{
    display: block;
    cursor: pointer;
}
.detalles
{
    position: absolute;
    width: 300px;
    padding: 7px;
    display: none;
    z-index: 2000;
    padding: 10px 10px 10px 10px;

}
footer 
{
    padding: 10px;
}
.container
{
    width: 100%;
    text-align: center;
}
.container div
{
    text-align: left;
    width: 49%;
    min-width: 160px;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
    margin: 0 auto;
    max-width: 300px;
    min-width: 180px;
}

.container div ul li a
{
    text-decoration: none;
    padding: 8px;
}
.container div ul li
{
    list-style: none;
    margin: 8px;
}
.footer-content
{
  width: max-content;
}
.footer-content p
{
 padding: 2px;
 width: fit-content;
}
.titulo-3
{
    text-align: left;
}
.footer-bottom
{
    text-align: center;
}
.footer-bottom p
{
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer-bottom p a
{
  text-decoration: none;
}
.footer-bottom p a span:first-child
{
  color: #f59f59;
}
.footer-bottom p a span
{
  color: #af445a;
}
/*

Estilo número dos

*/

.item-detalles-2
{
    padding: 5px 5px 5px 0px;
    font-weight: bold;
}
.detalles-2
{
    padding: 0px 10px 10px 0px;
}

/*
  navegación
*/
.btn-nav
{
  top: 0;
  right: 0;
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 5px;
}
header div
{
  position: absolute;
  top: 0;
  width: 100%;
}
header div nav
{
  min-height: 100vh;
  width: 100%;
}
.nav
{
  position: fixed;
  z-index: 1000;
  left: -100%;
  height: 100vh;
  transition: transform 0.3s ease;
}
.nav.show
{
  transform: translateX(100%);
}
header div label:hover
{
  transform: scale(1.1);
}
.nav
{
  padding-top: 80px;
}
.nav ul li
{
  list-style: none;
  flex: 1; /* Cada elemento ocupará una fracción del espacio disponible */
  display: flex;
  justify-content: center;
  position: relative;
}
.nav ul
{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 60px);
}
.nav ul li a
{
  text-decoration: none;
  height: fit-content;
  padding: 10px;
  font-size: 20px;
}
.nav ul li a:hover
{
  font-size: 22px;

}
.nav ul li span
{
  width: 100%;
  height: 5px;
  position: absolute;
  top: 40px;

  border-radius: 10px;
}

.nav div
{
  padding-top:10px ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav div span img
{
  height: 45px;
}
body::wedkit-scrollbar
{
  width: 50px !important;
}
.info
{
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 55px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #25D366;
  color: black;
  font-weight: 600;
  padding: 5px;
}
.info i
{
  padding-right: 10px;
  color: #fff;

}
.Granda_Digitales
{
  text-decoration: none;
  position: fixed;
  bottom: 100px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 15px;
  overflow: hidden;
  background-color: #f59f59;
  color: black;
  font-weight: 600;
  padding: 5px;
}
.box-btn-top
{
position: fixed;
bottom: 20px;
right: 20px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 25%;
overflow: hidden;
bottom: -60px;
}
.Granda_Digitales, .info
{
  width: 200px;
  height: 50px;
}
@media screen and (max-width: 600px)
{
  .Granda_Digitales, .info
  {
    width: 130px;
    height: 55px;
  }
}
.show-btn
{
  z-index: 100;
}

.box-btn-top.show-btn
{
  animation: btn-top-ani 0.3s ease-in-out;
  bottom: 20px;
}
@keyframes btn-top-ani {
  0%
  {
    bottom: -60px;
  }
  50%
  {
    bottom: -40px;
  }
  100%
  {
    bottom: 20px;
  }
}