.imgs-box
{
    width: 50%;
    margin: 0 auto;
}
.box-title
{
    margin: 15px 0px 25px 0px;
}
.const {
    color: #64b2cd;
    color: #daedeb;
    color: #d99832;
    color: #3c71a5;
  }
.box-title h1
{
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    background-color: #d99832;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 10px;
}
.z-index
{
    z-index: -500
}

.carousel-control-next, .carousel-control-prev
{
    z-index: 1 !important
}